Flask==1.1.1
gunicorn==21.2.0
itsdangerous==1.1.0
Jinja2==3.1.5
MarkupSafe==1.1.1
Werkzeug==3.0.6
numpy>=1.9.2
scipy>=0.15.1
sklearn
matplotlib>=1.4.3
pandas>=0.19
flasgger==0.9.4
streamlit
seaborn
pyspark
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
